@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&family=Oswald:wght@400;700&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    @apply
    w-full
    bg-meadow 
    text-coal
    font-organic
    text-center
    text-4xl
    text-shadow
    shadow-md
    p-4
    
}

.nav-div{
    @apply
    flex
    justify-center
    text-green-600
    text-xl
}
.nav-link {
    @apply
    mx-6
}
.nav-link:hover {
    @apply 
    text-shadow-lg
}

.background {
    @apply
    flex
    flex-col
    bg-gradient-to-b
    from-meadow
    to-emerald-500
    justify-start
    items-center
    w-full
    min-h-screen
}

.form-container {
    @apply
    underline
    font-organic
    text-ink
    shadow-2xl
    flex
    m-24
    flex-col
    justify-center
    items-center
    w-[60vw]
    h-auto
    border-[0.3vw]
    border-coal
    bg-clay
    rounded-3xl
    px-4
    text-shadow-lg
}

.form-container div > label {
    @apply
    w-full
    text-ink
    font-bold
    text-lg
}
.form-container div {
    @apply
    m-2
}
.form-container h2 {
    @apply
    text-4xl
    m-7
    p-1
    text-ink
}

.form-container div > label > input {
    @apply
    w-full
    px-3
    py-2
    rounded
    border-4
    shadow-lg
    border-ink
    bg-parchment
    text-coal
}

.form-container select {
    @apply
    w-full
    px-3
    py-2
    rounded
    border-4
    shadow-lg
    border-ink
    bg-parchment
    text-coal
}

.form-container div > label > input:focus {
    @apply
    border-4
    border-meadow
    shadow-2xl
}

.form-container form > button {
    @apply
    flex
    justify-center
    items-center
    text-clay
    font-bold
    bg-ink
    text-xl
    /* w-[15vw]
    h-[3vw] */
    shadow
    rounded-lg
    p-3
    m-7
    mx-auto
    disabled:opacity-40
    disabled:cursor-not-allowed
    disabled:shadow-none
}

.form-container form > button:hover {
    @apply
    shadow-2xl
}

.error-container p {
    @apply
    text-mint
    text-xs
}

.error-container p {
    @apply
    text-mint
}

.table-container{
    @apply
    flex
    justify-center
    overflow-y-auto
    max-h-[70vh]
    font-organic
    text-center
    mx-14
}


.table-container table {
    @apply
    text-center
    text-ink
    border-8
    border-clay
    bg-bark
    rounded-2xl
    overflow-hidden
}

.table-container table > thead > tr {
    @apply
    text-lg
    underline
    border-8
    border-clay
    h-32
}

.table-container table > tbody > tr {
    @apply
    border-8
    border-clay
    shadow-red-200
    h-32
}

.table-container table > tbody > tr > td {
    @apply
    w-60
}
.table-container::-webkit-scrollbar {
    @apply
    w-2
}

.table-container::-webkit-scrollbar-track {
    @apply
    bg-clay
    rounded-sm
}

.table-container::-webkit-scrollbar-thumb {
    @apply
    bg-gradient-to-b
    from-meadow
    to-emerald-400
    rounded-sm
}

.table-container table > tbody > tr > td > button {
    @apply
    flex
    justify-center
    items-center
    text-clay
    font-bold
    bg-ink
    text-lg
    p-1
    my-2
    shadow
    rounded-lg
    mx-auto
    disabled:opacity-40
    disabled:cursor-not-allowed
    disabled:shadow-none
}

.table-container table > tbody > tr > td > form > button {
    @apply
    flex
    justify-center
    items-center
    text-clay
    font-bold
    bg-ink
    shadow
    rounded-lg
    my-1
    p-1
    mx-auto
    disabled:opacity-40
    disabled:cursor-not-allowed
    disabled:shadow-none
}
.table-container table > tbody > tr > td > form > input{
    @apply
    p-1
    text-coal
    rounded-lg
    w-full
    bg-mint
}

.grocery-table-container{
    @apply
    flex
    justify-center
    overflow-y-auto
    max-h-[70vh]
    font-handwritten
    font-bold
    text-lg
    text-center
    mx-14
}


.grocery-table-container table {
    @apply
    text-center
    text-coal
    border-8
    border-slate-400
    bg-slate-200
    rounded-2xl
    overflow-hidden
}

.grocery-table-container table > thead > tr {
    @apply
    text-lg
    underline
    border-8
    border-slate-400
    h-32
}

.grocery-table-container table > tbody > tr {
    @apply
    border-8
    border-slate-400
    shadow-red-200
    h-32
}

.grocery-table-container table > tbody > tr > td {
    @apply
    w-60
}
.grocery-table-container::-webkit-scrollbar {
    @apply
    w-2
}

.grocery-table-container::-webkit-scrollbar-track {
    @apply
    bg-slate-400
    rounded-sm
}

.grocery-table-container::-webkit-scrollbar-thumb {
    @apply
    bg-gradient-to-b
    from-meadow
    to-emerald-400
    rounded-sm
}

.grocery-table-container table > tbody > tr > td > button {
    @apply
    flex
    justify-center
    items-center
    text-coal
    font-bold
    bg-ink
    text-lg
    p-1
    my-2
    shadow
    rounded-lg
    mx-auto
    disabled:opacity-40
    disabled:cursor-not-allowed
    disabled:shadow-none
}

.grocery-table-container table > tbody > tr > td > form > button {
    @apply
    flex
    justify-center
    items-center
    text-clay
    font-bold
    bg-ink
    shadow
    rounded-lg
    my-1
    p-1
    mx-auto
    disabled:opacity-40
    disabled:cursor-not-allowed
    disabled:shadow-none
}
.grocery-table-container table > tbody > tr > td > form > input{
    @apply
    p-1
    text-coal
    rounded-lg
    w-full
    bg-mint
}